@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300;
}
