@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100 transition-colors duration-300;
}
